

<div>
  Showing most recent game first
  <% @games.pending.recent.each do |game| %>
    <div>
      Game #<%= game.id %>
      Current status: <%= game.status %>
      <%= button_to "Join Game", game_path(game.id), method: :put, class: 'btn btn-primary btn-sm' %>
    </div>
  <% end %>
</div>
